In [2]:
import pandas as pd
import sklearn
from sklearn.metrics import *

In [3]:
meld_result = pd.read_csv('MELD_test.csv', index_col=0)
meld_preprocessed_result = pd.read_csv('MELD_preprocessed_test.csv', index_col=0)
dd_result = pd.read_csv('dailydialog_test.csv', index_col=0)

In [4]:
meld_result.head()

                                           utterance  pred  label
0  Why do all you’re coffee mugs have numbers on ...     4      6
1  Oh. That’s so Monica can keep track. That way ...     4      0
2                                       Y'know what?     4      4
3                     Come on, Lydia, you can do it.     4      4
4                                              Push!     4      3

In [5]:
meld_preprocessed_result.head()

                                           utterance  pred  label
0                  Why ’ coffee mugs numbers bottom      4      6
1  Oh  That ’ Monica keep track  That way one mis...     4      0
2                                             Yknow      4      4
3                                      Come  Lydia       4      4
4                                              Push      4      3

In [6]:
dd_result.head()

                                           utterance  pred  label
0                Hey man , you wanna buy some weed ?     4      4
1                                        Some what ?     4      6
2  Weed ! You know ? Pot , Ganja , Mary Jane some...     4      4
3                             Oh , umm , no thanks .     4      4
4  I also have blow if you prefer to do a few lin...     4      4

In [8]:
result = classification_report(meld_preprocessed_result['label'], meld_preprocessed_result['pred'])
acc = accuracy_score(meld_preprocessed_result['label'], meld_preprocessed_result['pred'])
print(acc*100)
print(result)

49.34865900383142
              precision    recall  f1-score   support

           0       0.40      0.03      0.05       345
           1       1.00      0.01      0.03        68
           2       0.00      0.00      0.00        50
           3       0.35      0.24      0.28       402
           4       0.51      0.90      0.65      1256
           5       0.57      0.08      0.14       208
           6       0.44      0.12      0.19       281

    accuracy                           0.49      2610
   macro avg       0.47      0.20      0.19      2610
weighted avg       0.47      0.49      0.40      2610

In [10]:
result = classification_report(dd_result['label'], dd_result['pred'])
print(result)

              precision    recall  f1-score   support

           0       0.53      0.36      0.42       118
           1       0.41      0.30      0.35        47
           2       0.43      0.35      0.39        17
           3       0.63      0.69      0.66      1019
           4       0.92      0.91      0.92      6321
           5       0.43      0.38      0.40       102
           6       0.50      0.57      0.53       116

    accuracy                           0.86      7740
   macro avg       0.55      0.51      0.52      7740
weighted avg       0.86      0.86      0.86      7740

In [15]:
meld = pd.read_csv('../dataset/MELD/multi/MELD_test.txt', delimiter='\t')
meld.iloc[29:38]

,Speaker,Utterance,Emotion,Sentiment
29,Phoebe,Ohh!,surprise,positive
30,Monica,What?,neutral,neutral
31,Phoebe,It kicked! I think the baby kicked!,surprise,positive
32,Monica,Oh my God!,surprise,positive
33,Phoebe,"Oh no wait, oh no, the elastic on my underwear...",neutral,neutral
34,Joey,Oh my God! I overslept! I was supposed to be o...,fear,negative
35,Monica,"Oh wait, Joey, you can’t go like that! You stink!",disgust,negative
36,Joey,"Look, I know I feel asleep before I could show...",anger,negative
37,Joey,"They’re just ten blocks away, if I run, I can ...",neutral,neutral